
.col-sm-3 h1 {
    color: white;
    background-color:  rgb(76, 189, 189);
    font-size: 24px;
    text-align: center;
}
img {
  float: left;
}
#footer{
    background-color: gray;
    text-align: center;
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: gray;
   color: white;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-container > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
/* Container needed to position the button. Adjust the width as needed */
.thumbnail {
  position: relative;
  width: 100%;
  max-width: 400px;
  }
.thumbnail img {
  width: 100%;
  height: auto;
}
  /* Style the button and place it in the middle of the container/image */
.thumbnail .btn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color:  rgb(76, 189, 189);
  color: white;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  width: 90%;
  }
  
.thumbnail .btn:hover {
    background-color: gray;
  }
/*CSS Styling for contact page*/
  #submitbutton{
  background-color:  rgb(76, 189, 189);
  border: none;
}
